{% extends 'customer/email_base.html' %}
{% load i18n %}
{% block body %}
<!-- Message Body -->
<tr>
    <td class="container-padding" bgcolor="#ffffff" style="background-color: #ffffff; padding: 20px 30px 0px 30px; font-size: 13px; line-height: 1.5; font-family: Open Sans, sans-serif; color: #333333;" align="left">
        <!--/message HTML content -->
        <p>{% blocktrans %}Hi {{full_name}},{% endblocktrans %}</p>
        <br>
        <p>{% blocktrans with course_title=course_title transaction_status=transaction_status %}Your transaction for {{course_title}} has been rejected with status {{transaction_status}}.Please try again with a different payment option or a different Card{% endblocktrans %}</p>
        <br>
        <p>{% blocktrans %} In case of payment has already been deducted, kindly contact {{platform_name}} support for a refund. {% endblocktrans %}</p>
        <br>
        <p>{% blocktrans %}To explore more great courses, visit the {{platform_name}} website. More courses are added every day!{% endblocktrans %}</p>
        <br>
        <p>{% trans "Thank you!" %}</p>
        <p>{% blocktrans %}{{platform_name}} team {% endblocktrans %}</p>
        <!--/message HTML content -->
    </td>
</tr>

<tr>
    <td class="footer-padding" style="padding: 0 30px 12px 30px; font-size: 13px; line-height: 1.5; font-family: Open Sans, sans-serif; color: #333333; background-color: #ffffff" align="left">
        <!--footer content -->
        <hr>
        <p style="border-top: 1px solid #cccccc; padding-top: 30px; padding-bottom: 10px;">{% blocktrans with course_title=course_title platform_name=platform_name %}You are receiving this email because you have tried to purchase a seat in the {{platform_name}} course {{course_title}}.{% endblocktrans %}</p>
        <br>
        <!--/ end footer content -->
    </td>
</tr>
<!--/100% wrapper-->

{% endblock body %}
