{% extends 'customer/email_base.html' %}
{% load i18n %}
{% block body %}
<!-- Message Body -->
<tr>
    <td class="container-padding" bgcolor="#ffffff" style="background-color: #ffffff; padding: 20px 30px 0 30px; font-size: 13px; line-height: 1.5; font-family: Open Sans, sans-serif; color: #333333;" align="left">
        <!--/message HTML content -->
        <p>{% blocktrans %}Hi {{full_name}},{% endblocktrans %}</p>
        <br>
        <p>{% blocktrans with course_title=course_title platform_name=platform_name %}Thank you for purchasing {{course_title}}. The charge below will appear on your next credit or debit card statement with a company name of {{platform_name}}.{% endblocktrans %}</p>
        <br>
        <p>{% blocktrans %}You can access your course and complete your verification (if required) on your {{platform_name}} dashboard. {% endblocktrans %} </p>
        <p>{% blocktrans %}To explore other great courses, visit the {{platform_name}} website. More courses are added every day!{% endblocktrans %}</p>
        <br>
        <p>{% trans "Thank you. We hope you enjoy the course!" %}</p>
        <p>{% blocktrans %}{{platform_name}} team {% endblocktrans %}</p>
        <br/>
        <!--/message HTML content -->
    </td>
</tr>

<tr>
    <td class="footer-padding" style="padding: 0 30px 12px 30px; font-size: 13px; line-height: 1.5; font-family: Open Sans, sans-serif; color: #333333; background-color: #ffffff" align="left">
        <!--footer content -->
        <p style="border-top: 1px solid #cccccc; padding-top: 30px; padding-bottom: 10px;">{% blocktrans with course_title=course_title platform_name=platform_name %}You are receiving this email because you purchased a seat in the {{platform_name}} course {{course_title}}.{% endblocktrans %}</p>
        <!--/ end footer content -->
    </td>
</tr>
<!--/100% wrapper-->

{% endblock body %}
