<div class="page-header">
    <h1 class="hd-1 emphasized">
        <%- gettext('Subscriptions') %>
        <div class="pull-right">
            <a href="/subscriptions/new/" class="btn btn-primary btn-small"><%- gettext('Disable Individual Course Payments') %></a>
            <a href="/subscriptions/new/" class="btn btn-primary btn-small"><%- gettext('Add New Subscription') %></a>
        </div>
    </h1>
</div>

<table id="subscriptionTable" class="copy copy-base table table-striped table-bordered" cellspacing="0">
    <caption class="sr-only">Current Subscriptions</caption>
</table>
