<div class="container">
    <ol class="breadcrumb">
        <li><a href="/subscriptions/"><%= gettext('Subscriptions') %></a></li>
        <% if(editing){ %>
            <li><a href="/subscriptions/<%= id %>/"><%= title %></a></li>
            <li class="active"><%= gettext('Edit') %></li>
        <% } else { %>
            <li class="active"><%= gettext('Create') %></li>
        <% } %>
    </ol>
    <div class="page-header">
        <h1 class="hd-1 emphasized">
            <%= gettext(editing ? 'Edit Subscription' : 'Create New Subscription') %>
        </h1>
    </div>

    <div class="subscription-form-outer"></div>
</div>
