<div class="row">
    <div class="fields col-md-6">
        <div class="form-group">
            <label class="hd-4" for="title"><%= gettext('Subscription Title') %> *</label>
            <input id="title" type="text" class="form-control" name="title" maxlength="255" placeholder="e.g. Subscription of 5 courses for 3 months">
            <p class="help-block"></p>
        </div>

        <div class="form-group">
            <label class="hd-4" ><%= gettext('Subscription Type') %> *</label>
            <div class="radio">
                <label>
                    <input type="radio" name="subscription_type" id="subscriptionTypelimitedAccess" class="non-editable" value="limited-access" checked>
                    <div class="subscription-type-display-name"><%= gettext('Limited Access') %></div>
                    <span id="subscriptionTypelimitedAccessHelpBlock" class="help-block">
                        <%= gettext('Subscription plan for a limited number of courses for a limited amount of time.') %>
                    </span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="subscription_type" id="subscriptionTypeFullAccessCourses" class="non-editable" value="full-access-courses">
                    <div class="subscription-type-display-name"><%= gettext('Full Access (Courses)') %></div>
                    <span id="subscriptionTypeFullAccessHelpBlock" class="help-block">
                        <%= gettext('Subscription plan for an unlimited number of courses for a limited amount of time.') %>
                    </span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="subscription_type" id="subscriptionTypeFullAccessTime" class="non-editable" value="full-access-time-period">
                    <div class="subscription-type-display-name"><%= gettext('Full Access (Time Period)') %></div>
                    <span id="subscriptionTypeFullAccessHelpBlock" class="help-block">
                        <%= gettext('Subscription plan for a limited number of courses for an unlimited amount of time.') %>
                    </span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="subscription_type" id="subscriptionTypeLifetimeAccess" class="non-editable" value="lifetime-access">
                    <div class="subscription-type-display-name"><%= gettext('Lifetime Access') %></div>
                    <span id="subscriptionTypeLifetimeAccessHelpBlock" class="help-block">
                        <%= gettext('Subscription plan for an unlimited number of courses for an unlimited amount of time.') %>
                    </span>
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="duration-unit"><%= gettext('Subscription Duration Unit') %> *</label>
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                <select id="duration-unit" class="form-control non-editable" name="duration_unit"></select>
            </div>
            <p class="help-block"><%= gettext('Select unit for subscription duration value.') %></p>
        </div>

        <div class="form-group">
            <label for="duration-value"><%= gettext('Subscription Duration Value') %> *</label>
            <input id="duration-value" type="number" step="1" class="form-control non-editable" name="duration_value" min="1" >
            <p class="help-block"><%= gettext('Provide subscription duration value according to your selected unit. After this date/time, students can no longer access their subscribed courses.') %></p>
        </div>

        <div class="form-group">
            <label for="number-of-courses"><%= gettext('Number of Courses') %> *</label>
            <input id="number-of-courses" type="number" step="1" class="form-control non-editable" name="number_of_courses" min="1" >
            <p class="help-block"><%= gettext('Provide the number of courses which students can access using this subscription.') %></p>
        </div>

        <div class="form-group course-seats">
            <label class="hd-4"><%= gettext('Subscription Pricing Plan') %></label>
        </div>

        <!-- Pricing -->

        <div class="seat-price">
            <div class="form-group">
                <label ><%= gettext('Actual Price in USD') %></label>
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input id="actual-price" class="non-editable" type="number" step="0.01" min="0" class="form-control" name="actual_price" value="0.0">
                </div>
                <p class="help-block"><%= gettext('Actual price of the subscription package.') %></p>
            </div>
        </div>

        <div class="seat-price">
            <div class="form-group">
                <label ><%= gettext('Price in USD') %> *</label>
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input id="price" class="non-editable" type="number" step="0.01" min="0" class="form-control" name="price" value="0.0">
                </div>
                <p class="help-block"><%= gettext('Price that the user will pay. (Intended for marketing purposes)') %></p>
            </div>
        </div>

        <div class="form-group">
            <label class="hd-4" for="display-order"><%= gettext('Subscription Display Order') %></label>
            <div class="input-group">
                <input id="display-order" type="number" step="1" class="form-control non-editable" name="display_order" min="1" >
            </div>
            <p class="help-block"><%= gettext('Display order for the subscription in which learners will see it in the list of subscriptions. (1 being the highest order)') %></p>
        </div>

        <div class="form-group">
            <label class="hd-4" for="tax-deducted-source"><%= gettext('Subscription Active Status') %></label>
            <div class="form-inline tax-deduction">
                <input id="subscription-active" type="radio" name="subscription_active_status" value="active" checked>
                <label for="subscription-active" class="normal-font-weight"><%= gettext('Active') %></label>
                <input id="subscription-not-active" type="radio" name="subscription_active_status" value="inactive">
                <label for="subscription-not-active" class="normal-font-weight"><%= gettext('Inactive') %></label>
            </div>
            <p class="help-block"><%= gettext('If the status is set to "Inactive", then the students will not be able to buy this subscription.') %></p>
        </div>

<div class="form-actions">
    <button type="submit" class="btn btn-primary"></button>
    <a id="cancel-button" class="btn btn-default" href="/subscriptions/<% if(id){ print(id + '/'); } %>"><%= gettext('Cancel') %></a>
</div>
